// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.register-form {
  display: table-caption;
}

.login {
  display: table-caption;
}

.review-form {
  display: table-caption;
}

.glyphicon {
  color: #4BA3DD;
}