<dt>
  <% review.blank_stars.times do %>
    <span class="glyphicon glyphicon-star-empty"></span>
  <% end %>
  <% review.rating.to_i.times do  %>
    <span class="glyphicon glyphicon-star"></span>
  <% end %>
</dt>
<dd>
  <%= review.description %>
  <% if current_user %>
    <% if current_user.id == review.user_id.to_i %>
      <%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</dd>

